# Klasifikasi Bunga Iris

In [1]:
import pandas as pd
import numpy as np
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder, StandardScaler
import joblib

In [2]:
df = pd.read_csv("datasets/dataset.csv")

In [3]:
df.head()

  Gender      Height     Weight
0   Male  241.893563  73.847017
1   Male  162.310473  68.781904
2   Male  212.740856  74.110105
3   Male  220.042470  71.730978
4   Male  206.349801  69.881796

## Scaling dan Labeling Atribut

In [4]:
std_scaler = StandardScaler()
label_enc = LabelEncoder()
df.Gender = label_enc.fit_transform(df.Gender)
df.iloc[:, :-1] = std_scaler.fit_transform(df.iloc[:, :-1])

In [5]:
df.head()

   Gender    Height     Weight
0     1.0  2.505797  73.847017
1     1.0  0.027101  68.781904
2     1.0  1.597806  74.110105
3     1.0  1.825222  71.730978
4     1.0  1.398750  69.881796

In [6]:
X = df.iloc[:, :-1]
y = df.iloc[:, -1]

## Training Model

In [7]:
lin_regr = LinearRegression()
X_train, X_test, y_train, y_test = train_test_split(X, y)

model = lin_regr.fit(X_train, y_train)

In [8]:
accuracy = model.score(X_test, y_test)

In [9]:
print(f"Akurasi Model: {accuracy * 100}%")

Akurasi Model: 85.93455308961101%

## Menyimpan Model dan Scaler

In [11]:
joblib.dump((model, std_scaler), "weight-prediction.pkl")

['weight-prediction.pkl']